.masonry-gallery-container {
    width: 100%;
}

.masonry-gallery {
    column-count: 3;
    column-gap: 10px;
}

.masonry-gallery-title {
    margin: 10px 0;
    width: 100%
}

.masonry-gallery .masonry-gallery-item {
    display: inline-block;
    width: 100%;
    margin: 0 0 10px;
    background-color: #eee;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px;
    vertical-align: middle;
}

.masonry-gallery .masonry-gallery-item > img {
    width: 100%;
}

.masonry-gallery .masonry-gallery-item > img:hover {
    opacity: 75%;
    cursor: pointer;
}